@using DominosCutScreen.Shared
@using System.Globalization;

@{
    var bgcolor = MakelineOrder.IsExpedited ? "bg-info" : string.Empty;
    var delcolor = (!MakelineOrder.IsExpedited && MakelineOrder.TypeCode == "D") ? "background-color: plum;" : string.Empty;
}
<div class="card m-2" style="flex: 0 0 18rem;">
    <div class="card-body">
        <div class="progress">
            <div class="progress-bar" data-time="@(LastBumpTime.ToString("s"))"></div>
        </div>
        <h5 class="card-title">Order @MakelineOrder.OrderNumber | @LastBumpTime.ToString("T")</h5>
        @{
            var items = MakelineOrder.Items;
            var groupedSeq = items.GroupBySequential(i => new { i.Description, i.ToppingModifications }, i => i, (x, y) => x.Description.Equals(y.Description, StringComparison.InvariantCultureIgnoreCase) && Enumerable.SequenceEqual(x.ToppingModifications, y.ToppingModifications));
            var selected = groupedSeq.Select(g =>
            {
                var item = g.First();
                item.Quantity = g.Sum(i => i.Quantity);
                return item;
            });
            var ordered = selected.OrderBy(i => i.LineNumber);
        }
        @foreach (var item in ordered)
        {
            <OrderItem Item=item />
        }
    </div>
    <div class="card-footer text-center @bgcolor" style="@delcolor">
        <small>@FooterText</small>
    </div>

    <a class="stretched-link" href="#" @onclick:preventDefault @onclick="@(async e => { await OnClicked.InvokeAsync(MakelineOrder); })"></a>
</div>

@code {
    [Parameter, EditorRequired]
    public required MakeLineOrder MakelineOrder { get; set; }

    [Parameter]
    public EventCallback<MakeLineOrder> OnClicked { get; set; }

    private DateTime LastBumpTime;
    private string FooterText = string.Empty;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        LastBumpTime = MakelineOrder.Items.SelectMany(i => i.BumpedTimes).Max();

        if (MakelineOrder.TypeCode == "C")
        {
            FooterText = "Pickup";
        }
        else
        {
            if (string.IsNullOrWhiteSpace(MakelineOrder.Address))
            {
                FooterText = "Delivery";
            }
            else
            {
                FooterText = MakelineOrder.Address;
            }
        }
    }
}
